Repository SVTeamJ/DeepBlue, pull requests merged in 2023-01, with the labels that each got.

#2 chore : 프론트 초기설정 완료
  .github/ISSUE_TEMPLATE/error-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/refactoring-report.md
  .github/ISSUE_TEMPLATE/setting-report.md
  .github/PULL_REQUEST_TEMPLATE.md
  Docker-compose.yml
  frontend/.dockerignore
  frontend/.eslintrc.ts
  frontend/.gitignore
  frontend/.prettierrc
  frontend/Dockerfile
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.cjs
  frontend/public/mockServiceWorker.js
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/media.scss
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/worker.ts
  frontend/src/page/_layout.tsx
  frontend/src/page/insetImage/index.tsx
  frontend/src/page/main/index.tsx
  frontend/src/page/result/index.tsx
  frontend/src/queryClient.ts
  frontend/src/reset.scss
  frontend/src/routes.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.cjs
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: 환경설정

#18 Feat/#6 메인 페이지 1차 작성 완료
  frontend/src/assets/fisher_man.png
  frontend/src/assets/gull.png
  frontend/src/assets/sun.png
  frontend/src/page/main/index.scss
  frontend/src/page/main/index.tsx
Labels: 기능구현, UI디자인, frontend

#22 도감페이지 퍼블리싱 완료
  frontend/src/assets/book.png
  frontend/src/assets/glassPreview.png
  frontend/src/assets/logo.png
  frontend/src/assets/up-icon.png
  frontend/src/components/DetailFishList/index.scss
  frontend/src/components/DetailFishList/index.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/page/fishList/index.scss
  frontend/src/page/fishList/index.tsx
  frontend/src/page/main/index.tsx
  frontend/src/queryClient.ts
  frontend/src/routes.tsx
Labels: 기능구현, UI디자인, frontend

#30 refactor: 도감페이지 ui리팩토링
  frontend/src/page/fishList/index.scss
Labels: 리펙토링, UI디자인, frontend

#28 이미지 삽입페이지 ui리팩토링
  frontend/src/page/insertImage/index.scss
  frontend/src/page/insertImage/index.tsx
  frontend/src/page/main/index.tsx
  frontend/src/routes.tsx
Labels: 리펙토링, UI디자인, frontend

#35 fix: 도커 이름 변경
  docker-compose.yaml
Labels: 오류수정, devops

#47 refactor: 필요없는 데이터삭제 및 라우팅 수정
  frontend/src/assets/book.png
  frontend/src/assets/fisher_man.png
  frontend/src/assets/gull.png
  frontend/src/assets/home.png
  frontend/src/assets/logo.png
  frontend/src/assets/seaweeds.png
  frontend/src/assets/smallFish.png
  frontend/src/assets/sun.png
  frontend/src/page/storage/index.scss
  frontend/src/page/storage/index.tsx
  frontend/src/routes.tsx
Labels: 리펙토링, frontend

#37 Feat: db 도커 파일 추가 + docker-compose 수정
  db/Dockerfile
  db/README.md
  docker-compose.yaml
Labels: 환경설정, backend, devops

#41 Chore: healthcheck 추가 및 database.py 수정
  backend/database.py
  docker-compose.yaml
Labels: 환경설정, devops

#56 [Fix/#51] mysql 에러 수정
  backend/database.py
  backend/main.py
  backend/model/__init__.py
  backend/model/user.py
Labels: 오류수정

#54 sentry적용
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
Labels: 환경설정, frontend

#61 chore: rabbitmq docker-compose.yaml에 추가
  docker-compose.yaml
Labels: 환경설정, devops

#71 결과페이지 반응형구현 및 애니메이션 추가
  frontend/src/page/result/index.scss
Labels: 리펙토링, UI디자인, frontend

#78 feat: 애니메이션 추가
  frontend/src/page/login/index.scss
  frontend/src/page/login/index.tsx
  frontend/src/page/login/loginpage.tsx
Labels: 리펙토링, UI디자인, frontend

#80 refactor/#79: 결과페이지 ui 변경
  frontend/src/page/result/index.scss
  frontend/src/page/result/index.tsx
Labels: 리펙토링, UI디자인, frontend

#59 feat: 이미지 업로드하는 api구현
  frontend/src/components/DetailFishList/index.scss
  frontend/src/components/insertImage/index.tsx
  frontend/src/main.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/page/main/index.tsx
  frontend/src/page/result/index.tsx
  frontend/src/queryClient.ts
Labels: 기능구현, frontend

#86 [Feat/#85] result페이지 반응형 수정 및 api연동
  frontend/src/components/insertImage/index.scss
  frontend/src/components/insertImage/index.tsx
  frontend/src/components/loading2/index.scss
  frontend/src/components/loading2/index.tsx
  frontend/src/main.tsx
  frontend/src/page/result/index.scss
  frontend/src/page/result/index.tsx
  frontend/src/type/result.ts
Labels: 리펙토링, UI디자인, frontend

#19 feat: 로그인 api 구현
  backend/api/endpoints/users.py
  backend/crud/user_crud.py
  backend/model/user.py
  backend/requirements.txt
  backend/schemas/user_schema.py
Labels: 기능구현, backend

#90 [Feat/#89] 로그인 로직구현완료
  frontend/src/atom/atom.ts
  frontend/src/components/login/index.scss
  frontend/src/components/login/index.tsx
  frontend/src/components/nav/index.tsx
  frontend/src/components/signup/index.scss
  frontend/src/components/signup/index.tsx
  frontend/src/main.tsx
  frontend/src/page/login/index.scss
  frontend/src/page/login/index.tsx
  frontend/src/page/login/is_login.tsx
  frontend/src/page/login/loginpage.tsx
  frontend/src/page/main/index.tsx
  frontend/src/page/storage/index.tsx
  frontend/src/queryClient.ts
Labels: 기능구현, UI디자인, frontend

#93 fix: alert 두번뜨는 오류 / 로딩스피너 클래스충돌 오류 /로그인 스크롤 오류수정
  frontend/src/components/loading2/index.scss
  frontend/src/components/loading2/index.tsx
  frontend/src/components/nav/index.scss
  frontend/src/main.tsx
  frontend/src/page/login/index.scss
  frontend/src/page/result/index.scss
  frontend/src/page/storage/index.tsx
Labels: 리펙토링, frontend

#87 Chore/#84 기초 nginx 설정 추가
  .gitignore
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/3928deaba815_populate_data.py
  backend/api/endpoints/fish.py
  backend/crud/fish_crud.py
  backend/main.py
  backend/model/__init__.py
  backend/model/fish.py
  backend/requirements.txt
  backend/schemas/fish_schema.py
  docker-compose.yaml
  nginx.conf
  prometheus.yml
Labels: 환경설정, devops

#99 Feat/#91-도감 물러오기
  backend/api/api.py
  backend/api/endpoints/fish.py
  backend/api/endpoints/history.py
  backend/crud/fish_crud.py
  backend/crud/history_crud.py
  backend/main.py
  backend/model/fish.py
  backend/model/history.py
  backend/schemas/fish_schema.py
  backend/schemas/history_schema.py
Labels: 기능구현, backend

#100 fix: 로그인페이지 ui수정
  frontend/src/components/login/index.scss
  frontend/src/components/signup/index.scss
  frontend/src/page/login/index.scss
  frontend/src/page/login/index.tsx
Labels: 리펙토링, UI디자인, frontend

#104 refactor/#102: 결과 페이지 ui 반응형 수정
  frontend/src/page/result/index.scss
  frontend/src/page/result/index.tsx
Labels: 리펙토링, UI디자인, frontend

#110 Feat/#105
  backend/api/endpoints/fish.py
  backend/api/endpoints/history.py
  backend/crud/history_crud.py
  backend/model/fish.py
  backend/model/history.py
  backend/schemas/history_schema.py
Labels: 기능구현, backend

#117 Refactor/#111:도감 api 수정
  backend/api/endpoints/history.py
  backend/crud/history_crud.py
  backend/model/fish.py
  backend/model/history.py
  backend/schemas/fish_schema.py
  backend/schemas/history_schema.py
Labels: 리펙토링, backend

#116 feat: 이미지 업로드 api 리팩토링
  frontend/package-lock.json
  frontend/src/page/result/index.scss
  frontend/src/page/result/index.tsx
  frontend/src/page/storage/index.tsx
Labels: 리펙토링, 기능구현, frontend

#118 Feat/#101 도감 페이지 API 연동
  frontend/src/components/DetailFishList/index.tsx
  frontend/src/page/result/index.tsx
  frontend/src/page/storage/index.tsx
  package-lock.json
Labels: 기능구현, frontend

#122 Refactor/#121 result페이지 리팩토링
  frontend/api/api.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/atom/atom.ts
  frontend/src/page/result/index.tsx
  frontend/src/page/storage/index.tsx
  frontend/src/queryClient.ts
  frontend/src/type/result.ts
Labels: 리펙토링, frontend

#126 Refactor/#124 storage페이지 리팩토링
  frontend/api/api.ts
  frontend/src/atom/atom.ts
  frontend/src/components/login/index.tsx
  frontend/src/components/signup/index.tsx
  frontend/src/page/storage/index.tsx
  frontend/src/queryClient.ts
  frontend/src/type/user.ts
Labels: 리펙토링, frontend

#131 Feat/#128 차트 api 기능 추가
  backend/api/api.py
  backend/api/endpoints/charts.py
  backend/crud/charts_crud.py
Labels: 기능구현, backend

#130 차트 페이지 ui디자인 완료
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/Bar.png
  frontend/src/assets/circle.png
  frontend/src/assets/inline.png
  frontend/src/assets/line.png
  frontend/src/components/nav/index.tsx
  frontend/src/page/chart/index.scss
  frontend/src/page/chart/index.tsx
  frontend/src/queryClient.ts
  frontend/src/routes.tsx
Labels: UI디자인, frontend

#133 feat: 차트 Api연동 완료
  frontend/src/page/chart/index.tsx
Labels: 기능구현, frontend

#137 chore: dev환경 prod환경 url구분
  frontend/src/components/DetailFishList/index.tsx
  frontend/src/components/insertImage/index.tsx
  frontend/src/components/login/index.tsx
  frontend/src/components/signup/index.tsx
  frontend/src/page/main/index.tsx
  frontend/src/queryClient.ts
Labels: 환경설정, frontend
